body {
    display: flex;
    align-items: end;
    justify-content: right;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    padding: 2px 15px;
    font-size: 11px;
    margin: 0;
    color: #000000; 
    height: 100vh;
    /*background-image: url("image0.gif");*/
}

.message {
    position: absolute;
    visibility: hidden;
    text-align: center;
    background-color: #FFFF;
    color: #000000; 
    border-radius: 3px;
    border-color: #000000;
    border-style: solid;
    display: block;

    width: 150px;
    padding: 10px;
    
}

#menu1{
    right: 30px;
    bottom: 200px;
}

#menu2 {
    right: 30px;
    bottom: 250px;
}
#menu3 {
    right: 30px;
    bottom: 300px;
}

#menu4 {
    right: 30px;
    bottom: 350px;
}

#menu5 {
    right: 30px;
    bottom: 420px;
}

.i1 {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.i2 {
	position: relative;
	visibility: hidden;
	bottom: 175px;
	right: 35px;
}

.weather {
     position: absolute;
     visibility: hidden;
     left: 0px;
     top: 0px;
}

/*.square {
      background-color: #2ecc71;
      width: 200px;
      height: 200px;
}*/